.submit-answer {
    padding: 8px 10px;
}

.col-setup-label {
    margin-top: 6px;
    float: right;
}

.col-output-label {
    margin-top: 6px;
}

.col-workflow-label {
    float: right;
    font-weight: 600;
}

.pr-input:focus {
    border-color: #08ce08;
}

.add-icon {
    margin-top: -1%;
}

.add-btn {
    float: right !important;
    margin-top: 16px !important;
    min-width: 0 !important;
    background: #000 !important;
    border-radius: 14px !important;
    color: #fff !important;
}

.MuiButton-startIcon {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.workflow-label {
    margin-left: 12%;
}

.submit-save {
    float: right;
    padding: 8px 24px 8px 24px;
}

.output-save {
    padding: 8px 24px 8px 24px;
}

.check-production {
    padding-left: 16px;
}

.annotation {
    margin-bottom: 12px;
}

.upload-input {
    display: flex;
}

.btn-upload {
    padding: 8px 20px;
    margin: 0 auto;
    margin-left: 20px;
}

.input_name_url {
    margin-left: 52px;
    margin-right: 52px;
}