.MuiRadio-colorSecondary.Mui-checked {
    color: #00b1f5 !important;
}

.MuiFormGroup-root {
    display: inline-block !important;
    margin-left: 36px;
}

.twofactor-auth {
    display: inline-flex;
}

label {
    margin-bottom: 24px;
    margin-top: 24px;
    font-weight: 500;
}

/* input {
    max-width: 351px;
} */

.reset {
    padding: 6px 37px;
    margin-left: 205px;
}

.br-bottom {
    padding: 10px;
    border-bottom: 1px solid #8080806e;
}

.settings-form {
    padding: 10px 44px 10px 44px;
    border: 1px solid #8080803b;
    background: #9cdaa41c;
    border-radius: 12px;
    margin-top: 55px;
}
.MuiTypography-root {
    padding-left: 6px;
}