
.pm-table thead th {
    background-color: #00800014;
    border-bottom: 1px solid #80808042;
    font-weight: 600;
    padding-top: 14px !important;
    padding-bottom: 14px !important;
  }
  .pm-table thead th:first-child {
    padding-left: 161px;
    border-top-left-radius: 10px;
  }
  .pm-table thead th:last-child {
    padding-right: 161px;
    border-top-right-radius: 10px;
  }
  .pm-table tbody {
    color: black;
  }
  .pm-table tbody tr td {
    border-color: #c5c5c5;
    padding-top: 14px !important;
    padding-bottom: 14px !important;
  }
  .pm-table tbody tr td:first-child {
    padding-left: 161px;
  }
  .pm-table tbody tr td:last-child {
    padding-right: 161px;
  }
  .pm-table tbody tr:first-child td {
    border-top: none;
  }

.table-responsive td {
    border-bottom: 2px dotted #61616173;
}

.gr-message {
    margin-top: 20px;
    margin-bottom: 20px;
}

.success-message {
    text-align: center;
    padding: 10px;
    background: #00800017;
    color: #008000;
}

.pr-1 {
    color: #212529;
    ;
    text-decoration: none;
}

.pr-1:hover {
    color: #212529;
    ;
    text-decoration: none;
}

.db-pr {
    border: 1px solid #8080804a;
    padding: 4px 35px 4px 12px;
    border-radius: 8px;
}

.active {
    color: #008000;
}

.paused {
   color: #ffa500;
}

.ml-btn {
    margin-left: 53.5%;
}