
.pmpro-table thead th {
    background-color: #00800014;
    border-bottom: 1px solid #80808042;
    font-weight: 600;
    padding-top: 14px !important;
    padding-bottom: 14px !important;
  }
  .pmpro-table thead th:first-child {
    padding-left: 41px;
    border-top-left-radius: 10px;
  }
  .pmpro-table thead th:last-child {
    padding-right: 41px;
    border-top-right-radius: 10px;
  }
  .pmpro-table tbody {
    color: black;
  }
  .pmpro-table tbody tr td {
    border-color: #c5c5c5;
    padding-top: 14px !important;
    padding-bottom: 14px !important;
  }
  .pmpro-table tbody tr td:first-child {
    padding-left: 41px;
  }
  .pmpro-table tbody tr td:last-child {
    padding-right: 41px;
  }
  .pmpro-table tbody tr:first-child td {
    border-top: none;
  }

  .so-table thead th {
    background-color: #00800014;
    border-bottom: 1px solid #80808042;
    font-weight: 600;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .so-table thead th:first-child {
    padding-left: 161px;
    border-top-left-radius: 10px;
  }
  .so-table thead th:last-child {
    padding-right: 161px;
    border-top-right-radius: 10px;
  }
  .so-table tbody {
    color: black;
  }
  .so-table tbody tr td {
    border-color: #c5c5c5;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .so-table tbody tr td:first-child {
    padding-left: 161px;
  }
  .so-table tbody tr td:last-child {
    padding-right: 161px;
  }
  .so-table tbody tr:first-child td {
    border-top: none;
  }


.db-prod {
    border: 1px solid #80808029;
    padding: 4px 14px 4px 14px;
    border-radius: 6px;
    background: #efebeb0d;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.db-time, .db-total {
    border: 1px solid #80808029;
    padding: 4px 14px 4px 14px;
    border-radius: 6px;
    background: #efebeb0d;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.db-total {
    margin-left: 16px;
}

.inactive {
    color: #ff0000;
}

.db-task-rating {
    border: 1px solid #8080804a;
    padding: 4px 35px 4px 12px;
    border-radius: 8px;
    letter-spacing: 3px;
}

.db-review {
    border: 1px solid #80808029;
    padding: 4px 26px 4px 26px;
    border-radius: 6px;
    background: #efebeb0d;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.MuiSwitch-root { 
    margin-top: -15px;
}

.MuiSwitch-switchBase {
    top: 9px !important;
    left: 8px !important;
}

.MuiSwitch-colorSecondary.Mui-checked {
    color: #0583bf !important;
}

.MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
    background-color: #008ff578 !important;
}

.MuiSwitch-colorPrimary.Mui-checked {
    color: #0583bf !important;
}

.MuiSwitch-colorPrimary.Mui-checked + .MuiSwitch-track {
    background-color: #008ff578 !important;
}

.MuiButtonBase-root {
    box-shadow: none !important;
    padding: 0 !important;
}

.ml-sampling-left {
  margin-left: 74%;
}

.sample-flex {
  display: flex;
  padding: 8px;
}

.sample-flex span {
  padding: 8px;
}

.status {
  margin-top: 8px !important;
  border: 1px solid #80808052;
  padding: 10px 30px 10px 30px;
  border-radius: 7px;
}

.inprogress label {
  margin-top: 3px;
  margin-bottom: 3px;
}

.btn-sample {
  padding: 10px 12px 10px 12px;
  background-color: #38a1ff;
}

.has-taskid .form-control {
  padding-left: 2.375rem;
  font-size: 16px;
}

.has-taskid .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.task-row, .sample-row {
  border-bottom: 1px solid #80808042;
}

.task-row {
  background-color: #00800014;
}

.MuiSvgIcon-root { 
  margin-left: 4%;
  cursor: pointer;
}

.ou-progress {
  display: block !important;
}

.select label {
  margin-top: 1px;
}

.select-all label{
  margin-top: 10px;
}
